################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Leceister/v14
/Leceister/bin/Debug
/Leceister/obj/Debug
*.user
/Leicester/bin/Debug
/Leicester/obj/Debug
*.suo
